ClientAnti_JX1/SwordOnline/.vs/*
*.vsidx
*.ipch
Autoupdate
/release
/debug
Release
Debug
*.codeanalysis
*.db
BuildLog.htm
*.tlog
*.rar
*.zip
/WinLicense
WinLicense
bin
AutoUpdateRes
Toolkits
Project_ProtectJX/Tools

# Nguon hai nua tu kiem soat 100%: khong dua san pham dung san vao kho (CI tu dung tu nguon).
ClientAnti_JX1/**/*.lib
ClientAnti_JX1/**/*.dll
ClientAnti_JX1/**/*.exp
ClientAnti_JX1/**/*.obj
ClientAnti_JX1/**/*.pdb
ClientAnti_JX1/**/*.ilk
ClientAnti_JX1/**/*.pch
ClientAnti_JX1/**/*.idb
ClientAnti_JX1/**/*.exe
